/* h1{
    text-align: center;

}
.temp{
    text-align: center;


} */
th{
    font-size: 27px;
}
table,tr{
    text-align: center;
    /* border: 1px solid black; */
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
    width: 30rem;
    height: 6rem;
    border-radius: 10%;
    /* margin-left: 10px; */
}  
input{
    font-size: 25px;
    text-align: center;
}
table{
    background-color: #0067b0;
    color: white;
    margin-top: 2.5rem;
}
#reset{
    font-size:30px;
    padding-inline: 0px;
}
#conv{
    position: absolute;
    bottom: 40%; 
    left:2%;
}
/* #formula{
    position: absolute;
    bottom: 55%; 
    left:8%;
}
#timg{
    position: absolute;
    bottom: 18%; 
    left:72%;
    width: 26.5rem;
} */